<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist"
            style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
            <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="true">Group Class</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="false">Personal Trainer</button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 p-3 ">
        <form class="row gy-2 gx-3 justify-content-center align-items-center">
            <div class="col-auto">
                <label for="autoSizingSelect">Club</label>
                <select class="form-select" id="autoSizingSelect">
                  <option selected>Choose</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            <div class="col-auto">
                <label  for="autoSizingSelect">Class</label>
                <select class="form-select" id="autoSizingSelect">
                  <option selected>Choose</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            <div class="col-auto">
              <label for="autoSizingSelect">Instructor</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>Choose</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-auto">
                <label for="autoSizingSelect">Time Slot</label>
                <select class="form-select" id="autoSizingSelect">
                  <option selected>Choose</option>
                  <option value="1">(05-09) Early</option>
                  <option value="2">(09-11) Morning</option>
                  <option value="3">(11-13) Mid day</option>
                  <option value="4">(13-17) Afternoon</option>
                  <option value="5">(17-22) Evening</option>
                </select>
              </div>
            
            <div class="col-auto pt-4">
              <button type="submit" class="btn btn-primary">Show Results</button>
            </div>
          </form>
          
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Class</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>
</div>

    
